*.pyc
.idea/
*.pdf
*.class
bin/
/ner_analyzer/target/
old_out

/ner-analyzer/target/
*.iml

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
